.align-center{
    text-align: center;
}

.text-Align{
    padding: 10rem 0;
    color: #fff;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.coursel-image{
    padding: 3rem;
    border-radius: 100%;
}

